extensions:
	.pl

structures:
	conditionals: if
	conditionals: elsif
	conditionals: else
	conditionals: unless
	conditionals: until
	loops: foreach
	loops: for
	loops: while

types:
	arrays: @array = [.*]
	dictionaries: %dict = {.*}

names:
	variables: $variable =
	functions: sub $name
	function calls: $name()
	comments: # $comment
	# pod

keywords:
	and: &&

expressions:
	multiplication: *
	addition: +
	subtraction: -
	division: /
	modulo: %

libraries:
	import: require
	import: use
